.container {
    width: 100%; /* Ensure it fills the full width of its parent */
    max-width: none !important; /* Removes any maximum width restriction */
    background-image: url('https://i.ibb.co/5WQR2pdX/atlantis-nexus-nebula-black-background-digital-render-3840x2160-3704.jpg');
    background-size: cover; /* Ensures the background covers the full container */
    background-position: center; /* Centers the background image */
}
