body, .galaxy-background {
    background: url("https://4kwallpapers.com/images/walls/thumbs_3t/21267.jpg") center center / cover no-repeat fixed !important;
    color: white !important;
    min-height: 100vh !important;
}
